* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CBBA79;
}

#card-box {
    width: 3.5in;
    height: 2in;
}

#card-top-half {
    height: 80%;
    background-color: #5F5655;
    display: flex;
}

#card-bottom-half {
    height: 20%;
    background-color: #F9D548;
}

#profile-div {
    position: absolute;
    width: 1in;
    height: 1.5in;
    top: 0.34in;
    left: 0.25in;
    background-color: green;
}

#profile-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card-text-div {
    position: absolute;
    width: 1.5in;
    height: 1.25in;
    top: 0.25in;
    left: 1.4in;
}

#card-text-div h1 {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 0;
}

#card-text-div h4 {
    font-size: 0.7em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

#card-text-div h5 {
    font-size: 0.6em;
    margin-top: 0.7em;
    margin-bottom: 0;
}

#card-text-div p {
    font-size: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}

#scan-message {
    position: absolute;
    left: 1.9in;
    top: 1.68in;
}

#scan-message h4 {
    color: black;
    font-size: 13px;
    margin: 0;
}

#qr-div {
    position: absolute;
    width: 0.6in;
    height: 0.6in;
    left: 2.8in;
    top: 1.3in;
    border: 0.05in solid green;
    border-radius: 10px;
    background-color: green;
}

#qr-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

hr {
    border: none;
    height: 3px;
    background-color: #CBBA79;
}

a {
    color: blue;
}

a:hover {
    color: cyan;
}

a:visited {
    color: purple;
}

@media print {
    /* body {
        background: white;
    } */

    #card-top-half {
        background-color: #5F5655 !important;
        print-color-adjust: exact;
    }

    #card-bottom-half {
        background-color: #F9D548 !important;
        print-color-adjust: exact;
    }

    hr {
        background-color: #CBBA79 !important;
        print-color-adjust: exact;
    }
}